<?php
echo $this->Html->css('ranking');?>

<br>
<center>
 <h2>🔴🔴　結果発表　🔴🔴</h2>

 <h4><?php echo($testValue0); ?></h4>
 <h4><?php echo($testValue1); ?></h4>
 <h4><?php echo($testValue2); ?></h4>

 <hr>
 <br><br><br>
 <h3>♦　人気トップは……　♦</h3>
<h4><?php echo $mostPopularity; ?></h4>
<p>です。</p>
<br>
<hr>
 <h3>♦　1位の得票数は……　♦</h3>
 <h4><?php echo $mostPopularity; ?></h4>
 <h4><?php echo $mostPopularityVote; ?></h4>
 <p>です。</p>
 <br><br><br>
 <hr>
 <br><br>
 <h3>　♦　♦　♦　♦　♦　♦　♦　♦　♦　♦　♦　♦　総合結果　♦　♦　♦　♦　♦　♦　♦　♦　♦　♦　♦　♦　♦</h3>
 <br><br><br><br>
 <h3>♦　査拳の得票数は……　♦</h3>
 <h4><?php echo $vote1; ?></h4>
  <p>です。</p>

  <br>

 <h3>♦　太極拳の得票数は……　♦</h3>
 <h4><?php echo $vote2; ?></h4>
  <p>です。</p>

  <br>

 <h3>♦　八卦掌の得票数は……　♦</h3>
  <h4><?php echo $vote3; ?></h4>
   <p>です。</p>

   <br>

   <h3>♦　八極拳の得票数は……　♦</h3>
 <h4><?php echo $vote4; ?></h4>
  <p>です。</p>

  <br>

 <h3>♦　形意拳の得票数は……　♦</h3>
 <h4><?php echo $vote5; ?></h4>
  <p>です。</p>

  <br>

 <h3>♦　酔拳の得票数は……　♦</h3>
  <h4><?php echo $vote6; ?></h4>
   <p>です。</p>

   <br>

   <h3>♦　少林拳の得票数は……　♦</h3>
  <h4><?php echo $vote7; ?></h4>
   <p>です。</p>

   <br>

   <h3>♦　武当玄武拳の得票数は……　♦</h3>
 <h4><?php echo $vote8; ?></h4>
  <p>です。</p>

  <br>

 <h3>♦　蟷螂拳の得票数は……　♦</h3>
 <h4><?php echo $vote9; ?></h4>
  <p>です。</p>

  <br>

 <h3>♦　心意六合拳の得票数は……　♦</h3>
  <h4><?php echo $vote10; ?></h4>
   <p>です。</p>


   <br><br>



<font size="5" color="15848F">
<b>
 <?=$this->Form->create('ranking', ['url' => ['action' => 'vote'], 'type' => 'post'])?>
 <?=$this->Form->submit('戻る')?> <?=$this->Form->end()?>
</b>
</font>




<center>
<br>
<!-- 結果➡http://localhost/ChineseWushuRanking/chinesewushuranking/vote -->