<br>
<center>
<h1>【 好きな中国武術 ♦ 投票 RANKING 】</h1>
<br><br><br>




<h2>🔴 セレクター投票 🔴</h2>
<br>
<?=$this->Form->create(null, ['type' => 'post', 'url' => ['controller'=> 'Chinesewushuranking', 'action' => 'result']]) ?>
        <?=$this->Form->hidden( "id", [ "value" => 1 ] ) ?>
        <?=$this->Form->hidden( "id", [ "value" => 2 ] ) ?>
        <?=$this->Form->hidden( "id", [ "value" => 3 ] ) ?>
        <?=$this->Form->hidden( "id", [ "value" => 4 ] ) ?>
        <?=$this->Form->hidden( "id", [ "value" => 5 ] ) ?>
        <?=$this->Form->hidden( "id", [ "value" => 6 ] ) ?>
        <?=$this->Form->hidden( "id", [ "value" => 7 ] ) ?>
        <?=$this->Form->hidden( "id", [ "value" => 8 ] ) ?>
        <?=$this->Form->hidden( "id", [ "value" => 9 ] ) ?>
        <?=$this->Form->hidden( "id", [ "value" => 10 ] ) ?>
        <?=$this->Form->Select('id.select', ['1'=> '査拳', '2' => '太極拳', '3' => '八卦掌','4'=> '八極拳', '5' => '形意拳', '6' => '酔拳', '7' => '少林拳','8'=> '武当玄武拳', '9' => '蟷螂拳', '10' => '心意六合拳'])?> 
        <?=$this->Form->submit('投票')?>
        <?=$this->Form->end()?>

<br><br><br>
<h2>🔴 ボタン投票 🔴</h2>
<br>
<font size="5" color="15848F"><b>
<?=$this->Form->create('Chinesewushuranking', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 1 ] ) ?>
<?=$this->Form->submit('査拳に投票')?>
<?=$this->Form->end()?>
</b></font>
<br>
<font size="5" color="15848F"><b>
<?=$this->Form->create('Chinesewushuranking', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 2 ] ) ?>
<?=$this->Form->submit('太極拳に投票')?>
<?=$this->Form->end()?>
</b></font>
<br>
<font size="5" color="15848F"><b>
<?=$this->Form->create('Chinesewushuranking', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 3 ] ) ?>
<?=$this->Form->submit('八卦掌に投票')?>
<?=$this->Form->end()?>
</b></font>
<br>
<font size="5" color="15848F"><b>
<?=$this->Form->create('Chinesewushuranking', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 4 ] ) ?>
<?=$this->Form->submit('八極拳に投票')?>
<?=$this->Form->end()?>
</b></font>
<br>
<font size="5" color="15848F"><b>
<?=$this->Form->create('Chinesewushuranking', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 5 ] ) ?>
<?=$this->Form->submit('形意拳に投票')?>
<?=$this->Form->end()?>
</b></font>
<br>
<font size="5" color="15848F"><b>
<?=$this->Form->create('Chinesewushuranking', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 6 ] ) ?>
<?=$this->Form->submit('酔拳に投票')?>
<?=$this->Form->end()?>
</b></font>
<br>
<font size="5" color="15848F"><b>
<?=$this->Form->create('Chinesewushuranking', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 7 ] ) ?>
<?=$this->Form->submit('少林拳に投票')?>
<?=$this->Form->end()?>
</b></font>
<br>
<font size="5" color="15848F"><b>
<?=$this->Form->create('Chinesewushuranking', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 8 ] ) ?>
<?=$this->Form->submit('武当玄武拳に投票')?>
<?=$this->Form->end()?>
</b></font>
<br>
<font size="5" color="15848F"><b>
<?=$this->Form->create('Chinesewushuranking', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 9 ] ) ?>
<?=$this->Form->submit('蟷螂拳に投票')?>
<?=$this->Form->end()?>
</b></font>
<br>
<font size="5" color="15848F"><b>
<?=$this->Form->create('Chinesewushuranking', ['url' => ['action' => 'result'], 'type' => 'post'])?>
<?=$this->Form->hidden( "id", [ "value" => 10 ] ) ?>
<?=$this->Form->submit('心意六合拳に投票')?>
<?=$this->Form->end()?>
</b></font>



<br>
<!-- <?=$this->Form->create('null', ['type' => 'post', 'url' =>['controller'=>'Chinesewushuranking', 'action' => 'vote']]) ?>
<div><h2>🔴 投票 検索 🔴</h2></div>
<br>
<div><?=$this->Form->text('Vote.find') ?></div>
<div><?=$this->Form->submit('検索')?></div>
<?=$this->Form->end()?>

<br><br><br>

<hr>
<table>
<thead><tr>
    <th>ID</th><th>Name</th><th></th>
</tr></thead>

<tr>
 

</table> -->
</center>

<!-- 結果➡http://localhost/ChineseWushuRankingapi/chinesewushuranking/vote -->


